* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

main {
  position: relative;
  top: 200px;
  width: 600px;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  transition: all .15s linear;
  //border: 1px solid red;
}

a {
  text-decoration: none;
}

.extract {
  //border: 1px solid red;
  padding: 10px 5px;
  background-color: lightblue;
  margin-bottom: 10px;
}

h1 {
  font-size: 16px;
  margin-bottom: 8px;
}

.slide-up {
  position: relative;
  top: 0px;
}

#input {
  width: 600px;
  margin: 10px auto;
  margin-top: 100px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  transition: all .3s linear;
}

#input p {
  padding: 10px 5px;
  font-size: 16px;
}

#input a {
  display: block;
  padding: 10px 5px;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgrey;
}

#search-icon {
  display: block;
  cursor: pointer;
  color: lightblue;
}

#search-icon-small {
  display: none;
  cursor: pointer;
  color:  lightblue;
}

#search {
  display: none;
  width: 200px;
  height: 20px;
  margin: 5px 5px;
  margin-left: 10px;
}


@media only screen and (max-width: 425px) {
  main,
  #input {
    width: 100%;
  }
}